name: build and run tests

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, ubuntu-22.04]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v5
    - uses: awalsh128/cache-apt-pkgs-action@latest
      with:
        packages: qtbase5-dev libboost-test-dev valgrind clang-tidy
        version: 1.0
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} -DCMAKE_CXX_COMPILER=g++ -DWITH_ODK_TESTS=ON -DWITH_CLANG_TIDY=ON -DWITH_ODK_INSTALL=ON
    - name: Build
      run: cmake --build ${{github.workspace}}/build --target all --parallel
    - name: Test
      working-directory: ${{github.workspace}}/build
      run: ctest
    - name: Memory Checks
      working-directory: ${{github.workspace}}/build
      run: ctest -T memcheck
    - name: Install library
      run: cmake --install ${{github.workspace}}/build --prefix ${{github.workspace}}/install
