name: Build Oxygen SDK under Windows

on: [push, pull_request]

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v5
    - name: Download and extract qt_resource_compiler.zip
      run: |
        Invoke-WebRequest -Uri 'https://github.com/DEWETRON/OXYGEN-SDK/releases/download/OXYGEN-SDK-R6.3.0/qt_resource_compiler.zip' -OutFile 'qt_resource_compiler.zip'
        Expand-Archive -Path 'qt_resource_compiler.zip' -DestinationPath 'extracted_files'
        Move-Item -Path 'extracted_files\3rdparty\*' -Destination 3rdparty\
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}\build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}
    - name: Build
      run: cmake --build ${{github.workspace}}\build --parallel
